absl-py==0.11.0
aiodns==2.0.0
aiohttp==3.6.3
aiohttp-session==2.7.0
aiohttp-socks==0.4.1
appdirs==1.4.4
appnope==0.1.0
argon2-cffi==20.1.0
arviz==0.10.0
ase==3.20.1
asgiref==3.3.1
astor==0.8.1
astunparse==1.6.3
async-generator==1.10
async-timeout==3.0.1
asyncinit==0.2.4
asyncio==3.4.3
attrs==20.2.0
audioread==2.1.9
autograd==1.3
backcall==0.2.0
bdpy==0.14rc6
beautifulsoup4==4.9.3
biopython==1.77
bleach==3.2.1
bokeh==1.2.0
boto3==1.16.23
botocore==1.19.23
brain-score @ git+https://github.com/brain-score/brain-score@fa4d911b55d9026b775d0319e89b670d4bceb96b
brainio-base @ git+https://github.com/brain-score/brainio_base@c0f9bfdef3e2d4108699d0f0d3281db2d79fad43
brainio-collection @ git+https://github.com/brain-score/brainio_collection@6b3e90183067e8d40b2bce1bc5ab08fb220b4367
cachetools==4.1.1
cchardet==2.1.7
certifi==2020.6.20
cffi==1.14.3
cftime==1.2.1
chardet==3.0.4
click==7.1.2
cloudpickle==1.6.0
cognitiveatlas==0.1.9
cycler==0.10.0
Cython==0.29.21
dask==2.30.0
dataclasses==0.6
debugpy==1.2.1
decorator==4.4.2
defusedxml==0.6.0
Deprecated==1.2.10
dill==0.3.2
Django==3.1.3
dm-tree==0.1.5
docopt==0.6.2
dtools==0.1
elasticsearch==7.10.1
entrypoints==0.3
fake-useragent==0.1.11
fastprogress==1.0.0
ffmpeg==1.4
fire==0.3.1
Flask==1.1.2
Flask-SQLAlchemy==2.4.4
flatbuffers==1.12
fsspec==0.8.4
ftputil==3.4
funsor==0.3.0
future==0.18.2
fuzzywuzzy==0.18.0
gast==0.3.3
gcsfs==0.2.2
genometools==0.4.1
geographiclib==1.50
geopy==2.1.0
gitdb==4.0.5
GitPython==3.1.11
google==3.0.0
google-api-core==1.23.0
google-auth==1.22.1
google-auth-oauthlib==0.4.2
google-cloud-core==1.4.3
google-cloud-datastore==2.0.1
google-cloud-storage==1.25.0
google-pasta==0.2.0
google-resumable-media==0.5.1
googleapis-common-protos==1.52.0
googledrivedownloader==0.4
googletransx==2.4.2
grpcio==1.33.2
gunicorn==20.0.4
h5py==2.10.0
hail==0.2.59
hdf5storage==0.1.15
httplib2==0.18.1
humanize==1.0.0
hurry.filesize==0.9
idna==2.8
imageio==2.9.0
importlib-metadata==2.1.1
inflect==4.1.0
iniconfig==1.1.1
ipykernel==5.3.4
ipython==7.18.1
ipython-genutils==0.2.0
ipywidgets==7.5.1
isodate==0.6.0
itsdangerous==1.1.0
janggu==0.10.0
jax==0.2.3
jaxlib==0.1.56
jedi==0.17.2
Jinja2==2.11.2
jmespath==0.10.0
joblib==0.17.0
jsonpatch==1.26
jsonpointer==2.0
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.7
jupyter-console==6.2.0
jupyter-core==4.6.3
jupyterlab-pygments==0.1.2
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
kiwisolver==1.3.0
latexcodec==2.0.1
libcst==0.3.14
librosa==0.8.0
lisc==0.1.1
llvmlite==0.35.0
lxml==4.6.1
makefun==1.9.4
Markdown==3.3.3
MarkupSafe==1.1.1
matplotlib==3.3.2
mistune==0.8.4
mmdnn==0.3.1
mock==4.0.2
model-template @ file:///Users/aneeshkashalikar/Downloads/MOT_
model-tools @ git+https://github.com/brain-score/model-tools@bd718a1e6db190f7504a1796190c272a50b6ec88
mpmath==1.1.0
msprime==0.5.0
multidict==4.7.6
multipledispatch==0.6.0
multiprocess==0.70.10
mypy-extensions==0.4.3
nbclient==0.5.1
nbconvert==6.0.7
nbformat==5.0.8
nest-asyncio==1.4.2
netCDF4==1.5.4
networkx==1.11
nibabel==3.2.1
nilearn==0.7.0
NiMARE==0.0.4
nipy==0.4.2
nltk==3.5
notebook==6.1.4
numba==0.52.0
numpy==1.16.6
numpyro==0.4.1
oauth2client==4.1.3
oauthlib==3.1.0
onnx==1.8.0
-e git+https://github.com/onnx/onnx-tensorflow.git@72b724377a57ff9d814f32f280afc90af146069a#egg=onnx_tf
onnx2keras==0.0.24
opt-einsum==3.3.0
packaging==20.4
pandas==0.25.3
pandocfilters==1.4.3
parsimonious==0.8.1
parso==0.7.1
patsy==0.5.1
peewee==3.14.0
pexpect==4.8.0
phantompy==0.10
pickleshare==0.7.5
Pillow==8.0.1
plotly==2.7.0
pluggy==0.13.1
pooch==1.2.0
progress==1.5
prometheus-client==0.8.0
prompt-toolkit==3.0.8
proto-plus==1.11.0
protobuf==3.14.0
-e git+https://github.com/neuroailab/PSGNets.git@3a9bd3ead2f8d1a9c2944d3b0644f747a5891f95#egg=psgnets
psycopg2-binary==2.8.6
ptyprocess==0.6.0
py==1.9.0
py4j==0.10.7
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybedtools==0.8.1
pyBigWig==0.3.17
pybtex==0.23.0
pycares==3.1.1
pycparser==2.20
pydot==1.4.1
pyee==8.1.0
Pygments==2.7.2
PyJWT==1.7.1
PyMARE==0.0.2
pymc3==3.9.3
pymongo==3.11.1
pyparsing==2.4.7
pyppeteer==0.2.5
PyQt5==5.15.1
PyQt5-sip==12.8.1
pyro-api==0.1.2
pyro-ppl==1.5.1
pyrsistent==0.17.3
pysam==0.15.3
PySocks==1.7.1
pyspark==2.4.1
pystan==2.19.1.1
pytest==6.1.2
python-dateutil==2.8.1
python-json-logger==0.1.11
python-louvain==0.14
python-twitter==3.5
pytorch-lightning==1.0.4
pytz==2020.1
PyWavelets==1.1.1
PyYAML==5.3.1
pyzmq==19.0.2
qtconsole==4.7.7
QtPy==1.9.0
rdflib==5.0.0
regex==2020.11.13
requests==2.22.0
requests-oauthlib==1.3.0
resampy==0.2.2
result-caching @ git+https://github.com/mschrimpf/result_caching@94cb58c8b3a0a993aec9423122b62928af5e1812
retrying==1.3.3
rsa==4.6
s3transfer==0.3.3
schedule==1.0.0
scikit-image==0.17.2
scikit-learn==0.24.0
scipy==1.4.1
seaborn==0.11.0
selenium==3.141.0
Send2Trash==1.5.0
SeqBreed==0.1
six==1.15.0
sklearn==0.0
slir @ git+https://github.com/KamitaniLab/slir.git@78d76ff072a538e5c6e59e9e77510b5c96bf9d13
smmap==3.0.4
sortedcontainers==1.5.10
sounddevice==0.4.1
SoundFile==0.10.3.post1
soupsieve==2.0.1
SQLAlchemy==1.3.23
sqlparse==0.4.1
-e git+https://github.com/slinderman/ssm.git@38a7a34d12da5b9a2d30f2981eecee6225a31aba#egg=ssm
statsmodels==0.12.1
svgwrite==1.4
sympy==1.7.1
tabulate==0.8.3
tensorboard==2.4.0
tensorboard-plugin-wit==1.7.0
tensorflow==2.3.1
tensorflow-addons==0.11.2
tensorflow-estimator==2.3.0
tensorflow-probability==0.11.1
termcolor==1.1.0
terminado==0.9.1
testpath==0.4.4
tf2onnx==1.7.2
tfp-nightly==0.12.0.dev20201211
-e git+https://github.com/neuroailab/tfutils.git@830a50eb79f6a9398caa75c9fd2d58a6cadd826d#egg=tfutils
Theano==1.0.5
threadpoolctl==2.1.0
tifffile==2020.10.1
-e git+https://github.com/neuroailab/tnn.git@29db25f4ce23621348fac26779c0718e286f9747#egg=tnn
-e git+https://github.com/neuroailab/tnn.git@29db25f4ce23621348fac26779c0718e286f9747#egg=tnn_2d
toml==0.10.2
toolz==0.11.1
torch==1.7.0
torch-cluster==1.5.8
torch-geometric==1.6.3
torch-scatter==2.0.5
torch-sparse==0.6.8
torch-spline-conv==1.2.0
torchfile==0.1.0
torchvision==0.8.1
tornado==6.0.4
tqdm==4.42.1
traitlets==5.0.5
tskit==0.3.4
tweepy==3.9.0
twint @ file:///Users/aneeshkashalikar/Downloads/FlaskCRUD-master/twint
typeguard==2.10.0
typing-extensions==3.7.4.3
typing-inspect==0.6.0
umap-learn==0.4.6
unicodecsv==0.14.1
Unidecode==1.1.1
urllib3==1.25.11
visdom==0.1.8.9
wcwidth==0.2.5
webencodings==0.5.1
webrtcvad==2.0.10
websocket-client==0.57.0
websockets==8.1
Werkzeug==1.0.1
widgetsnbextension==3.5.1
wrapt==1.12.1
xarray==0.12.0
xeus-python==0.9.1
xlmhg==2.5.4
XlsxWriter==0.9.9
xmltodict==0.12.0
xvfbwrapper==0.2.8
yarl==1.5.1
zipp==3.4.0
